--
-- PostgreSQL database dump
--

\restrict BLtIQPBYxjHj5Czh59bdAQr79P6mrCMosEZzryUYxvFTsHEteblFcTTeiLCerUI

-- Dumped from database version 18.6 (Debian 18.6-1.pgdg12+2)
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: brokercity_db_user
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO brokercity_db_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO brokercity_db_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO brokercity_db_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO brokercity_db_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO brokercity_db_user;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO brokercity_db_user;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO brokercity_db_user;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_account; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_account (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    type character varying(10) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint NOT NULL
);


ALTER TABLE public.brokercity_account OWNER TO brokercity_db_user;

--
-- Name: brokercity_account_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_account ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_account_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_accountcategory; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_accountcategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.brokercity_accountcategory OWNER TO brokercity_db_user;

--
-- Name: brokercity_accountcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_accountcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_accountcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_agent; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_agent (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    department character varying(100) NOT NULL,
    phone_number character varying(15) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.brokercity_agent OWNER TO brokercity_db_user;

--
-- Name: brokercity_agent_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_agent ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_agent_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_bank; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_bank (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    balance numeric(15,2) NOT NULL,
    balance_opening numeric(15,2) NOT NULL,
    currency character varying(3) NOT NULL,
    account_number character varying(50),
    iban character varying(34),
    swift_code character varying(11),
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    notes text
);


ALTER TABLE public.brokercity_bank OWNER TO brokercity_db_user;

--
-- Name: brokercity_bank_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_bank ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_bank_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_building; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_building (
    id bigint NOT NULL,
    name character varying(100),
    type character varying(100),
    status character varying(100),
    area character varying(100),
    location character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    owner_id bigint
);


ALTER TABLE public.brokercity_building OWNER TO brokercity_db_user;

--
-- Name: brokercity_building_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_building ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_building_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_cashbox; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_cashbox (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    balance_opening numeric(15,2) NOT NULL,
    balance numeric(15,2) NOT NULL,
    currency character varying(3) NOT NULL,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    notes text
);


ALTER TABLE public.brokercity_cashbox OWNER TO brokercity_db_user;

--
-- Name: brokercity_cashbox_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_cashbox ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_cashbox_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_customer; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_customer (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    phone_number character varying(15) NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.brokercity_customer OWNER TO brokercity_db_user;

--
-- Name: brokercity_customer_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_customer ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_customer_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_monitoring; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_monitoring (
    id bigint NOT NULL,
    monitor_date date,
    month character varying(10),
    lead_numbers integer,
    agent_lead_numbers integer,
    agent_lead_status character varying(100),
    agent_lead_status_duration_value integer NOT NULL,
    agent_lead_status_duration_unit character varying(4) NOT NULL,
    agent_lead_comment character varying(1000),
    agent_id bigint,
    forwording boolean NOT NULL,
    forwording_from_id bigint,
    forwording_to_id bigint,
    agent_lead_from character varying(100),
    agent_lead_phone_number integer,
    CONSTRAINT brokercity_monitoring_agent_lead_status_duration_value_check CHECK ((agent_lead_status_duration_value >= 0))
);


ALTER TABLE public.brokercity_monitoring OWNER TO brokercity_db_user;

--
-- Name: brokercity_monitoring_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_monitoring ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_monitoring_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_owner; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_owner (
    id bigint NOT NULL,
    name character varying(100),
    phone character varying(100),
    address character varying(255),
    balance numeric(15,2),
    balance_opening numeric(15,2),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.brokercity_owner OWNER TO brokercity_db_user;

--
-- Name: brokercity_owner_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_owner ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_owner_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_profile; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_profile (
    id bigint NOT NULL,
    image character varying(100),
    role character varying(10) NOT NULL,
    user_id integer NOT NULL
);


ALTER TABLE public.brokercity_profile OWNER TO brokercity_db_user;

--
-- Name: brokercity_profile_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_profile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_profile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_transaction; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_transaction (
    id bigint NOT NULL,
    transaction_no character varying(20) NOT NULL,
    transaction_date date NOT NULL,
    type character varying(10) NOT NULL,
    amount numeric(12,2) NOT NULL,
    amount_deposit numeric(12,2) NOT NULL,
    amount_withdraw numeric(12,2) NOT NULL,
    amount_to_arabic character varying(255),
    amount_to_english character varying(255),
    currency character varying(10) NOT NULL,
    payment_method character varying(10) NOT NULL,
    has_check boolean NOT NULL,
    check_no character varying(50) NOT NULL,
    check_bank character varying(100) NOT NULL,
    check_date date NOT NULL,
    statement character varying(100) NOT NULL,
    person_receipt character varying(100),
    person_deliver character varying(100) NOT NULL,
    user_signature text,
    manager_signature text,
    second_person_signature text,
    has_document boolean NOT NULL,
    document character varying(100),
    document_no character varying(50),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    notes text,
    account_from character varying(255) NOT NULL,
    account_to character varying(255) NOT NULL,
    bank_id bigint,
    cashbox_id bigint,
    transaction_user_id integer
);


ALTER TABLE public.brokercity_transaction OWNER TO brokercity_db_user;

--
-- Name: brokercity_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_transaction ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_transaction_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_unit; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_unit (
    id bigint NOT NULL,
    name character varying(100),
    type character varying(100),
    status character varying(100),
    price numeric(15,2),
    bedrooms integer,
    bathrooms integer,
    has_parking boolean,
    parking integer,
    furnished boolean,
    unfurnished boolean,
    image_1 character varying(100),
    image_2 character varying(100),
    image_3 character varying(100),
    image_4 character varying(100),
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    category_id bigint,
    area character varying(100)
);


ALTER TABLE public.brokercity_unit OWNER TO brokercity_db_user;

--
-- Name: brokercity_unit_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_unit ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_unit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: brokercity_whatsappmessage; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.brokercity_whatsappmessage (
    id bigint NOT NULL,
    to_number character varying(20) NOT NULL,
    message_body text NOT NULL,
    status character varying(10) NOT NULL,
    twilio_sid character varying(50),
    error_message text,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.brokercity_whatsappmessage OWNER TO brokercity_db_user;

--
-- Name: brokercity_whatsappmessage_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.brokercity_whatsappmessage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.brokercity_whatsappmessage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO brokercity_db_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO brokercity_db_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO brokercity_db_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: brokercity_db_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO brokercity_db_user;

--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--



--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: brokercity_account; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.brokercity_account (id, name, type, created_at, updated_at, category_id) FROM stdin;
1	┘à╪╡╪▒┘ê┘ü╪º╪¬ ╪╢┘è╪º┘ü╪⌐	expenses	2026-08-31 08:33:56.00812+00	2026-08-31 08:33:56.00812+00	1
2	╪│┘ä┘ü┘è╪º╪¬ ╪º┘ä┘à┘ê╪╕┘ü┘è┘å	expenses	2026-08-31 08:34:23.263182+00	2026-08-31 08:34:23.263182+00	1
3	╪º┘ä┘é┘è┘à ╪º┘ä╪º┘è╪¼╪º╪▒┘è╪⌐	revenues	2026-08-31 08:34:40.031899+00	2026-08-31 08:34:40.031899+00	2
\.


--
-- Data for Name: brokercity_accountcategory; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.brokercity_accountcategory (id, name, created_at, updated_at) FROM stdin;
1	┘à╪╡╪▒┘ê┘ü╪º╪¬	2026-08-31 08:32:28.2962+00	2026-08-31 08:32:28.2962+00
2	╪º┘è╪▒╪º╪»╪º╪¬	2026-08-31 08:32:35.811626+00	2026-08-31 08:32:35.811626+00
\.


--
-- Data for Name: brokercity_agent; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.brokercity_agent (id, name, department, phone_number, created_at) FROM stdin;
3	Zakam Ahmed	Agent	+123122312123	2026-09-15 13:18:08.769666+00
4	Amr Mohammed	Agent	+123121223123	2026-09-15 13:19:32.262292+00
5	Test Account Sultan	Agent	+123101010110	2026-09-15 13:21:02.067653+00
6	Test Account Walla	Agent	+101101010123	2026-09-15 13:21:42.720336+00
7	Rana Ahmed	Agent	+101010123	2026-09-15 13:22:12.326506+00
8	Nora	Agent	+111101010123	2026-09-15 13:23:36.52157+00
\.


--
-- Data for Name: brokercity_bank; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.brokercity_bank (id, name, balance, balance_opening, currency, account_number, iban, swift_code, is_active, created_at, updated_at, notes) FROM stdin;
1	┘à╪╡╪▒┘ü ╪ú╪¿┘ê╪╕╪¿┘è ╪º┘ä╪º╪│┘ä╪º┘à┘è	0.00	0.00	AED				t	2026-08-31 08:26:04.735924+00	2026-08-31 08:26:04.735924+00	
\.


--
-- Data for Name: brokercity_building; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.brokercity_building (id, name, type, status, area, location, created_at, updated_at, owner_id) FROM stdin;
1	╪¿┘å╪º┘è╪⌐ ╪ú╪¡┘à╪» ╪º┘ä╪¿╪▒┘è┘â┘è	building	residential	╪ú╪¿┘ê╪╕╪¿┘è	╪º┘ä ┘å┘ç┘è╪º┘å	2026-09-18 07:13:59.390627+00	2026-09-18 07:13:59.390627+00	2
\.


--
-- Data for Name: brokercity_cashbox; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.brokercity_cashbox (id, name, balance_opening, balance, currency, is_active, created_at, updated_at, notes) FROM stdin;
1	╪«╪▓┘è┘å╪⌐ ╪¿╪▒┘ê┘â╪▒ ╪│┘è╪¬┘è	0.00	0.00	SAR	t	2026-08-31 08:20:07.593626+00	2026-08-31 08:20:07.593626+00	\N
2	╪«╪▓┘è┘å╪⌐ ╪▒┘é┘à 2	0.00	0.00	SAR	t	2026-09-01 11:29:27.767873+00	2026-09-01 11:29:27.767873+00	\N
3	╪«╪▓┘è┘å╪⌐ ╪º╪¡┘à╪» ╪º┘ä╪¿╪▒┘è┘â┘è	0.00	0.00	SAR	t	2026-09-10 14:21:43.16564+00	2026-09-10 14:21:43.16566+00	\N
\.


--
-- Data for Name: brokercity_customer; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.brokercity_customer (id, name, phone_number, created_at) FROM stdin;
\.


--
-- Data for Name: brokercity_monitoring; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--



--
-- Data for Name: brokercity_owner; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.brokercity_owner (id, name, phone, address, balance, balance_opening, created_at, updated_at) FROM stdin;
1	╪¡╪º╪¬┘à ╪╣╪¿╪»╪º┘ä┘ä┘ç ╪╖┘ç	0503034312	-	35000.00	25000.00	2026-09-17 09:03:37.664735+00	2026-09-17 09:04:05.453627+00
2	╪º╪¡┘à╪» ╪º┘ä╪¿╪▒┘è┘â┘è	0502030123	╪ú╪¿┘ê╪╕╪¿┘è ╪º┘ä ┘å┘ç┘è╪º┘å	0.00	0.00	2026-09-18 07:12:38.772185+00	2026-09-18 07:12:38.772185+00
\.


--
-- Data for Name: brokercity_profile; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.brokercity_profile (id, image, role, user_id) FROM stdin;
1		user	1
2		user	2
3		user	3
4		user	4
5		user	5
\.


--
-- Data for Name: brokercity_transaction; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--



--
-- Data for Name: brokercity_unit; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.brokercity_unit (id, name, type, status, price, bedrooms, bathrooms, has_parking, parking, furnished, unfurnished, image_1, image_2, image_3, image_4, created_at, updated_at, category_id, area) FROM stdin;
2	╪┤┘é╪⌐ 101	apartment	available	3500.00	2	0	t	\N	f	t					2026-09-18 07:57:39.060702+00	2026-09-18 07:57:39.060702+00	1	╪ú╪¿┘ê╪╕╪¿┘è
\.


--
-- Data for Name: brokercity_whatsappmessage; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	brokercity	accountcategory
8	brokercity	bank
9	brokercity	cashbox
10	brokercity	account
11	brokercity	profile
12	brokercity	transaction
13	brokercity	customer
14	brokercity	whatsappmessage
15	brokercity	monitoring
16	brokercity	agent
17	brokercity	category
18	brokercity	owner
19	brokercity	unit
20	brokercity	building
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: brokercity_db_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 80, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 5, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: brokercity_account_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_account_id_seq', 3, true);


--
-- Name: brokercity_accountcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_accountcategory_id_seq', 2, true);


--
-- Name: brokercity_agent_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_agent_id_seq', 8, true);


--
-- Name: brokercity_bank_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_bank_id_seq', 1, true);


--
-- Name: brokercity_building_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_building_id_seq', 1, true);


--
-- Name: brokercity_cashbox_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_cashbox_id_seq', 3, true);


--
-- Name: brokercity_customer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_customer_id_seq', 1, false);


--
-- Name: brokercity_monitoring_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_monitoring_id_seq', 47, true);


--
-- Name: brokercity_owner_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_owner_id_seq', 2, true);


--
-- Name: brokercity_profile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_profile_id_seq', 5, true);


--
-- Name: brokercity_transaction_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_transaction_id_seq', 71, true);


--
-- Name: brokercity_unit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_unit_id_seq', 2, true);


--
-- Name: brokercity_whatsappmessage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.brokercity_whatsappmessage_id_seq', 20, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, false);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 20, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: brokercity_db_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 36, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: brokercity_account brokercity_account_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_account
    ADD CONSTRAINT brokercity_account_pkey PRIMARY KEY (id);


--
-- Name: brokercity_accountcategory brokercity_accountcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_accountcategory
    ADD CONSTRAINT brokercity_accountcategory_pkey PRIMARY KEY (id);


--
-- Name: brokercity_agent brokercity_agent_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_agent
    ADD CONSTRAINT brokercity_agent_phone_number_key UNIQUE (phone_number);


--
-- Name: brokercity_agent brokercity_agent_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_agent
    ADD CONSTRAINT brokercity_agent_pkey PRIMARY KEY (id);


--
-- Name: brokercity_bank brokercity_bank_name_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_bank
    ADD CONSTRAINT brokercity_bank_name_key UNIQUE (name);


--
-- Name: brokercity_bank brokercity_bank_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_bank
    ADD CONSTRAINT brokercity_bank_pkey PRIMARY KEY (id);


--
-- Name: brokercity_building brokercity_building_name_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_building
    ADD CONSTRAINT brokercity_building_name_key UNIQUE (name);


--
-- Name: brokercity_building brokercity_building_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_building
    ADD CONSTRAINT brokercity_building_pkey PRIMARY KEY (id);


--
-- Name: brokercity_cashbox brokercity_cashbox_name_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_cashbox
    ADD CONSTRAINT brokercity_cashbox_name_key UNIQUE (name);


--
-- Name: brokercity_cashbox brokercity_cashbox_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_cashbox
    ADD CONSTRAINT brokercity_cashbox_pkey PRIMARY KEY (id);


--
-- Name: brokercity_customer brokercity_customer_phone_number_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_customer
    ADD CONSTRAINT brokercity_customer_phone_number_key UNIQUE (phone_number);


--
-- Name: brokercity_customer brokercity_customer_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_customer
    ADD CONSTRAINT brokercity_customer_pkey PRIMARY KEY (id);


--
-- Name: brokercity_monitoring brokercity_monitoring_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_monitoring
    ADD CONSTRAINT brokercity_monitoring_pkey PRIMARY KEY (id);


--
-- Name: brokercity_owner brokercity_owner_name_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_owner
    ADD CONSTRAINT brokercity_owner_name_key UNIQUE (name);


--
-- Name: brokercity_owner brokercity_owner_phone_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_owner
    ADD CONSTRAINT brokercity_owner_phone_key UNIQUE (phone);


--
-- Name: brokercity_owner brokercity_owner_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_owner
    ADD CONSTRAINT brokercity_owner_pkey PRIMARY KEY (id);


--
-- Name: brokercity_profile brokercity_profile_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_profile
    ADD CONSTRAINT brokercity_profile_pkey PRIMARY KEY (id);


--
-- Name: brokercity_profile brokercity_profile_user_id_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_profile
    ADD CONSTRAINT brokercity_profile_user_id_key UNIQUE (user_id);


--
-- Name: brokercity_transaction brokercity_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_transaction
    ADD CONSTRAINT brokercity_transaction_pkey PRIMARY KEY (id);


--
-- Name: brokercity_transaction brokercity_transaction_transaction_no_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_transaction
    ADD CONSTRAINT brokercity_transaction_transaction_no_key UNIQUE (transaction_no);


--
-- Name: brokercity_unit brokercity_unit_name_key; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_unit
    ADD CONSTRAINT brokercity_unit_name_key UNIQUE (name);


--
-- Name: brokercity_unit brokercity_unit_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_unit
    ADD CONSTRAINT brokercity_unit_pkey PRIMARY KEY (id);


--
-- Name: brokercity_whatsappmessage brokercity_whatsappmessage_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_whatsappmessage
    ADD CONSTRAINT brokercity_whatsappmessage_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: brokercity_account_category_id_9f0b168e; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_account_category_id_9f0b168e ON public.brokercity_account USING btree (category_id);


--
-- Name: brokercity_agent_phone_number_ce78e83a_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_agent_phone_number_ce78e83a_like ON public.brokercity_agent USING btree (phone_number varchar_pattern_ops);


--
-- Name: brokercity_bank_name_1a91b433_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_bank_name_1a91b433_like ON public.brokercity_bank USING btree (name varchar_pattern_ops);


--
-- Name: brokercity_building_name_d342dfab_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_building_name_d342dfab_like ON public.brokercity_building USING btree (name varchar_pattern_ops);


--
-- Name: brokercity_building_owner_id_08d1a351; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_building_owner_id_08d1a351 ON public.brokercity_building USING btree (owner_id);


--
-- Name: brokercity_cashbox_name_9f74b628_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_cashbox_name_9f74b628_like ON public.brokercity_cashbox USING btree (name varchar_pattern_ops);


--
-- Name: brokercity_customer_phone_number_373b4cb7_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_customer_phone_number_373b4cb7_like ON public.brokercity_customer USING btree (phone_number varchar_pattern_ops);


--
-- Name: brokercity_monitoring_agent_id_cff649af; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_monitoring_agent_id_cff649af ON public.brokercity_monitoring USING btree (agent_id);


--
-- Name: brokercity_monitoring_forwording_from_id_5dce360a; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_monitoring_forwording_from_id_5dce360a ON public.brokercity_monitoring USING btree (forwording_from_id);


--
-- Name: brokercity_monitoring_forwording_to_id_58bb483e; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_monitoring_forwording_to_id_58bb483e ON public.brokercity_monitoring USING btree (forwording_to_id);


--
-- Name: brokercity_owner_address_f0ae9f8e; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_owner_address_f0ae9f8e ON public.brokercity_owner USING btree (address);


--
-- Name: brokercity_owner_address_f0ae9f8e_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_owner_address_f0ae9f8e_like ON public.brokercity_owner USING btree (address varchar_pattern_ops);


--
-- Name: brokercity_owner_name_3f5df40b_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_owner_name_3f5df40b_like ON public.brokercity_owner USING btree (name varchar_pattern_ops);


--
-- Name: brokercity_owner_phone_1b697abc_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_owner_phone_1b697abc_like ON public.brokercity_owner USING btree (phone varchar_pattern_ops);


--
-- Name: brokercity_transaction_bank_id_0c0601bd; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_transaction_bank_id_0c0601bd ON public.brokercity_transaction USING btree (bank_id);


--
-- Name: brokercity_transaction_cashbox_id_fd679a6e; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_transaction_cashbox_id_fd679a6e ON public.brokercity_transaction USING btree (cashbox_id);


--
-- Name: brokercity_transaction_transaction_no_d4c4121d_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_transaction_transaction_no_d4c4121d_like ON public.brokercity_transaction USING btree (transaction_no varchar_pattern_ops);


--
-- Name: brokercity_transaction_transaction_user_id_dec25f52; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_transaction_transaction_user_id_dec25f52 ON public.brokercity_transaction USING btree (transaction_user_id);


--
-- Name: brokercity_unit_area_fe3ff1f9; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_unit_area_fe3ff1f9 ON public.brokercity_unit USING btree (area);


--
-- Name: brokercity_unit_area_fe3ff1f9_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_unit_area_fe3ff1f9_like ON public.brokercity_unit USING btree (area varchar_pattern_ops);


--
-- Name: brokercity_unit_category_id_f27b2cda; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_unit_category_id_f27b2cda ON public.brokercity_unit USING btree (category_id);


--
-- Name: brokercity_unit_name_fefca5c5_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX brokercity_unit_name_fefca5c5_like ON public.brokercity_unit USING btree (name varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: brokercity_db_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brokercity_account brokercity_account_category_id_9f0b168e_fk_brokercit; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_account
    ADD CONSTRAINT brokercity_account_category_id_9f0b168e_fk_brokercit FOREIGN KEY (category_id) REFERENCES public.brokercity_accountcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brokercity_building brokercity_building_owner_id_08d1a351_fk_brokercity_owner_id; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_building
    ADD CONSTRAINT brokercity_building_owner_id_08d1a351_fk_brokercity_owner_id FOREIGN KEY (owner_id) REFERENCES public.brokercity_owner(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brokercity_monitoring brokercity_monitorin_forwording_from_id_5dce360a_fk_brokercit; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_monitoring
    ADD CONSTRAINT brokercity_monitorin_forwording_from_id_5dce360a_fk_brokercit FOREIGN KEY (forwording_from_id) REFERENCES public.brokercity_agent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brokercity_monitoring brokercity_monitorin_forwording_to_id_58bb483e_fk_brokercit; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_monitoring
    ADD CONSTRAINT brokercity_monitorin_forwording_to_id_58bb483e_fk_brokercit FOREIGN KEY (forwording_to_id) REFERENCES public.brokercity_agent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brokercity_monitoring brokercity_monitoring_agent_id_cff649af_fk_brokercity_agent_id; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_monitoring
    ADD CONSTRAINT brokercity_monitoring_agent_id_cff649af_fk_brokercity_agent_id FOREIGN KEY (agent_id) REFERENCES public.brokercity_agent(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brokercity_profile brokercity_profile_user_id_4f6b81f9_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_profile
    ADD CONSTRAINT brokercity_profile_user_id_4f6b81f9_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brokercity_transaction brokercity_transacti_cashbox_id_fd679a6e_fk_brokercit; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_transaction
    ADD CONSTRAINT brokercity_transacti_cashbox_id_fd679a6e_fk_brokercit FOREIGN KEY (cashbox_id) REFERENCES public.brokercity_cashbox(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brokercity_transaction brokercity_transacti_transaction_user_id_dec25f52_fk_auth_user; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_transaction
    ADD CONSTRAINT brokercity_transacti_transaction_user_id_dec25f52_fk_auth_user FOREIGN KEY (transaction_user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brokercity_transaction brokercity_transaction_bank_id_0c0601bd_fk_brokercity_bank_id; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_transaction
    ADD CONSTRAINT brokercity_transaction_bank_id_0c0601bd_fk_brokercity_bank_id FOREIGN KEY (bank_id) REFERENCES public.brokercity_bank(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: brokercity_unit brokercity_unit_category_id_f27b2cda_fk_brokercity_building_id; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.brokercity_unit
    ADD CONSTRAINT brokercity_unit_category_id_f27b2cda_fk_brokercity_building_id FOREIGN KEY (category_id) REFERENCES public.brokercity_building(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: brokercity_db_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON SEQUENCES TO brokercity_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TYPES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TYPES TO brokercity_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON FUNCTIONS TO brokercity_db_user;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: -; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres GRANT ALL ON TABLES TO brokercity_db_user;


--
-- PostgreSQL database dump complete
--

\unrestrict BLtIQPBYxjHj5Czh59bdAQr79P6mrCMosEZzryUYxvFTsHEteblFcTTeiLCerUI

